
carrito/__pycache__
coder_market/__pycache__
core/__pycache__
core/migrations/__pycache__
cursos/__pycache__
cursos/migrations/__pycache__
cursos/migrations
node_modules
package-lock.json
package.json
tailwind.config.js
static
media/uploads/uploads
media/uploads/java-1_gnzag3e.jpg
media/uploads/js_8d3iLZS.jpg
media/uploads/js_G8phyAY.jpg
media/uploads/logo-python_feC3K4X.png
media/uploads/python_8ArpObb.jpg