
carrito/__pycache__
coder_market/__pycache__
core/__pycache__
core/migrations/__pycache__
cursos/__pycache__
cursos/migrations/__pycache__
cursos/migrations
node_modules
package-lock.json
package.json
tailwind.config.js