{% extends 'core/base.html' %}
{% block title %}Detalle Carrito {% endblock %}
{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
  <div class="products w-full lg:w-3/4">
    {% for item in cart %}
    <div class="mb-6 flex pr-6">
      <a href="#" class="w-1/4">
        <img src="" class="hover:shadow-lg rounded-xl">
      </a>
      <div class="w-3/4 pl-6">
        <div class="flex justify-between">
          <a href="#" class="text-lg">{{ item.product.name }}</a>
          <span class="mb-6 pt-1 text-gray-600">ARS {{ item.precio }}</span>
        </div>
        <hr>
        <div class="quantity mt-6 flex items-center space-x-4">
          <a href="#" class="p-3 bg-gray-100">-</a>
          <span>2</span>
          <a href="" class="p-3 bg-gray-100">+</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="summary w-full w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
    <h2 class="uppercase text-lg mb-5">Resumen</h2>
    <div class="mb-6 flex justify-between">
      <span class="font-semibold">Total</span>
      <span>$92939</span>
    </div>

    <div class="flex flex-col justify-center text-center">
      <a href="#"
        class="w-full mt-6 mb-2 inline-block px-8 py-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">Checkout</a>
    </div>
  </div>
</div>
{% endblock %}
