{% extends 'core/base.html' %}

{% block title %}Editando Curso {{ curso.name }}{% endblock %}

{% block content %}

<div class="max-w-lg mx-auto flex flex-wrap p-6">
  <div class="w-full bg-gray-100 p-6 rounded-xl">

    {% if not request.user.is_authenticated %}
    <div id="alert-additional-content-1" class="p-4 mb-4 bg-red-100 rounded-lg dark:bg-red-200" role="alert">
      <div class="flex items-center">
        <svg aria-hidden="true" class="mr-2 w-5 h-5 text-red-700 dark:text-red-800" fill="currentColor"
          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-lg font-medium text-red-700 dark:text-red-800">Información</h3>
      </div>
      <div class="mt-2 mb-4 text-sm text-red-700 dark:text-red-800">
        Debes ingresar para poder editar un producto.
      </div>
      <div class="flex">
        <a href="{% url 'login' %}" type=""
          class="text-red-700 bg-transparent border border-red-700 hover:bg-red-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:border-red-800 dark:text-red-800 dark:hover:text-white"
          data-dismiss-target="#alert-additional-content-1" aria-label="Close">
          Ingresar
        </a>
      </div>
    </div>
    {% endif %}

    <h1 class="mb-6 text-2xl">Editar Curso</h1>

    <form method="POST" action="" class="space-y-3">
      {% csrf_token %}

      {{ form.as_p }}

      {% if request.user.is_authenticated %}
      <div class="flex justify-between">
        <button type=""
          class="mt-6 mb-2 inline-block px-8 py-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">Actualizar</button>

        <div>
          <a href="{% url 'delete-curso' curso.pk %}" type=""
            class="mt-6 mb-2 inline-block px-8 py-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-opacity-75">Eliminar</a>
        </div>
      </div>
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}
