.star-icon .icon-path {
  fill: #ffd66c;
  stroke: #efb153;
}

.average-rating-section {
  border-radius: 15px;
  box-shadow: 0 7px 20px 0 rgba(115, 116, 156, .08);
  min-width: 150px;
}

.review-number {
  text-align: end;
  justify-self: flex-end;
}
